.comment{
  width: fit-content;
  background-color: darkgrey;
  padding: 5px;
  margin: 5px;
}

.like-create-btn{
  color: black;
  text-decoration: none;
}

.like-destroy-btn{
  color: red;
  text-decoration: none;
}