<div class="comment">
  <div class="user-nickname">
    名無しさん
  </div>
  <div class="comment-date">
    <%= comment.created_at%>
  </div>
  <div class="comment-text">
    <%=comment.text%>
  </div>
</div>