<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%=link_to 'Geek Chat', '/', class:'header-logo'%>
    <form class='search-form' action='#'>
      <input class='input-box' placeholder='検索'>
      <button class='search-button'>
        <%=image_tag "search.png", class:"search-icon"%>
      </button>
    </form>
  </div>
  <ul class='nav'>
    <%# ログイン後の表示 %>
    <li><%=link_to 'ニックネーム', "#", class:"user-nickname"%></li>
    <li><%=link_to 'ログアウト', "#", method: :delete, class:"logout"%></li>
    <%# ログインしていない場合の表示 %>
  </ul>
</header>