<div class="room-info">
  <div class="heading">
    <%=link_to room.heading, room_comments_path(room.id)%>
  </div>
  <p>部屋の1コメここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入る</p>
  <div class="category">
  <span>カテゴリー:</span>
  <%=room.category.name%>
  </div>
  <ul class="tags">
    <li>漫画</li>
    <li>考察</li>
    <li>ジョジョ</li>
  </ul>
</div>