<div class="room-info">
  <div class="heading">
    <%=link_to room.heading, room_path(room.id)%>
  </div>
  <div class="category">
  <span>カテゴリー:</span>
  <%=room.category.name%>
  </div>
  <div class="tags">
  <span>タグ:</span>
    <%room.tags.each do |tag|%>
      <li class="tag"><%=tag.name%></li>
    <%end%>
  </div>
</div>