<%=render "shared/header"%>

<div class="wrap">
  <div class="main-contents">
    <div class="recent-rooms">
      <%=render partial:"room", collection: @rooms%>
    </div>
    <div class="create-new-room">
      <%=link_to '新規ルーム作成',new_room_path %>
    </div>
  </div>
  <div class="sub-contents">
    <ul class="famous-rooms">人気の部屋
      <li class="famous-room">人気の話題1</li>
      <li class="famous-room">人気の話題2</li>
      <li class="famous-room">人気の話題3</li>
      <li class="famous-room-index">一覧へ</li>
    </ul>
    <ul class="favorite-rooms">ファボ部屋
      <li class="favorite-room">お気に入りの話題1</li>
      <li class="favorite-room">お気にの話題2</li>
      <li class="favorite-room">お気にの話題3</li>
      <li class="favorite-room-index">一覧へ</li>
    </ul>
  </div>
</div>