<%=render "shared/header"%>
<div class="wrap">
  <div class="main-contents">
    <div class="recent-rooms">
      <h1>room's heading1</h1>
      <p>部屋の1コメここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入る</p>
      <div class="category">カテゴリー</div>
      <ul class="tags">
        <li>漫画</li>
        <li>考察</li>
        <li>ジョジョ</li>
      </ul>
    </div>
    <div class="recent-rooms">
      <h1>room's heading2</h1>
      <p>部屋の1コメここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入るここに内容が入る</p>
      <div class="category">カテゴリー</div>
      <ul class="tags">
        <li>漫画</li>
        <li>考察</li>
        <li>ジョジョ</li>
      </ul>
    </div>
  </div>
  <div class="sub-contents">
    <ul class="famous-rooms">人気の部屋
      <li class="famous-room">人気の話題1</li>
      <li class="famous-room">人気の話題2</li>
      <li class="famous-room">人気の話題3</li>
      <li class="famous-room-index">一覧へ</li>
    </ul>
    <ul class="favorite-rooms">ファボ部屋
      <li class="favorite-room">お気に入りの話題1</li>
      <li class="favorite-room">お気にの話題2</li>
      <li class="favorite-room">お気にの話題3</li>
      <li class="favorite-room-index">一覧へ</li>
    </ul>
  </div>
</div>